@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 14, 15;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #0E0E0F;
  background: #F7F7F9;
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}